/* header css */
nav {
  background-color: #e9f8ee;
  width: 100%;
}
.navbar_fad {
  width: 100%;
}

.logo img {
  width: 180px;
}

.navbar_fad ul {
  all: initial;
}

.social_icons ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.navbar_fad {
  display: flex;
  padding: 0 70px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 99;
}
.navbar_fad .menu {
  display: flex;
  height: 100%;
  line-height: 100px;
}
.navbar_fad .menu li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
}
.navbar_fad .menu li a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  text-transform: capitalize;
  transition: 0.3s;
}
.navbar_fad .menu li a:hover {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  text-transform: capitalize;
  transition: 0.3s;
}
.navbar_fad .navOpen,
.navbar_fad .navClose {
  display: none;
}
.navbar_fad::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
}

.nav-active {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* footer */

.footer {
  background-color: #00c85f;
  text-align: center;
  padding: 15px;
}
.footer p {
  margin: 0;
  color: #fff;
}
.footer_social {
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
}
.footer_social img {
  padding: 4px;
}
@media screen and (max-width: 1450px) {
  .navbar_fad {
    padding: 0;
  }
}
@media screen and (max-width: 1050px) {
  .navbar_fad {
    padding: 10px 0px;
  }
  .navbar_fad .menu li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 870px) {
  .logo img {
    width: 140px;
  }
  .navbar_fad .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #84a98c;
    height: 100vh;
    min-width: 320px;
    top: 0;
    right: -100%;
    line-height: normal;
    transition: all 0.5s ease;
  }
  .navbar_fad .navClose svg path {
    fill: #000000;
  }
  .navbar_fad .menu li {
    display: block;
    height: auto;
    line-height: 45px;
    padding: 0 24px;
  }
  .navbar_fad .menu .navOpen {
    margin-right: 5%;
  }
  .navbar_fad .navOpen,
  .navbar_fad .navClose {
    color: #000 !important;
    font-size: x-large;
    display: block;
    position: relative;
    top: -4px;
  }
  .navbar_fad .navClose {
    margin: 20px;
  }
  .navbar_fad .menu .sub-menu {
    width: 100%;
    right: 100%;
    top: 0;
    box-shadow: none;
  }
  .navbar_fad::after {
    display: none;
  }
  .social_icons {
    position: absolute;
    right: 30px;
  }
}

@media screen and (max-width: 531px) {
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  .social_icons ul {
    gap: 10px;
  }
  .footer_sec {
    justify-content: center !important;
  }
}
