@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  scroll-padding-top: 100px;
  background-color: #e9f8ee !important;
  background: -webkit-linear-gradient(-90deg, #e9f8ee 0, #e9f8ee 100%);
  background: -moz-linear-gradient(180deg, #e9f8ee 0, #e9f8ee 100%);
  background: linear-gradient(180deg, #e9f8ee 0, #e9f8ee 100%);
}
.cursor-pointer {
  cursor: pointer;
}

.page_background {
  background-color: #f4f4f4 !important;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px !important;
}

.banner .container-fluid {
  padding-right: 0;
}
.banner_img {
  position: absolute;
  right: 0;
  top: 0;
}
